.wrapper{
    margin: 0, auto;
    width: 100%;

}
.block-info{
    font-size: 20px;
    color: rgb(53, 47, 58);
    padding-bottom: 20px;
    padding-left: 55px;
    border: solid, 2px;
}
#posts{
    background-color: rgb(159, 215, 215);
   
}
#comments{
    background-color: #c4e1bb;
}

#users{
    background-color: aquamarine;
   
}
h1{
    padding-top: 20px;
padding-bottom: 10px;
    text-align: center;
}